body {
    width: 480px;
}

.mapContainer {
    overflow: hidden;
}

.pointer {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background-color: #ff0000;
}

.map {
    width: 100%;
}

.yui3-accordion-item-content {
    overflow: hidden;
}